[Unit]
Description=apiTasksWhatsObserver

[Service]
User=username
Group=www-data
WorkingDirectory=/home/username/apiTasksWhatsObserver/
TasksMax=20
ExecStart=bash /home/username/apiTasksWhatsObserver/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
